<footer id="footer">
    <section style="width: 100%;">
        <h2>Please note</h2>
        <p>All predictions made by this website are probably quite bad and you should never make financial decisions based on them.</p>
    </section>

    <p class="copyright">&copy; Rutger Colege</p>
</footer>