<!DOCTYPE HTML>

<html>
	<head>
		<title>Error</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="stylesheets/main.css" />
		<noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<%- include('../partials/header') %>

				<!-- Main -->
					<div id="main">
							<section id="google" class="main currently_shown">
								<div class="spotlight">
									<div class="content">
                                        
                                        <h1>Error</h1>

                                        <p>Oops, something went wrong</p>
										
									</div>
								</div>
							</section>

					</div>

	

				<!-- Footer -->
				<%- include('../partials/footer') %>

			</div>

		<!-- Scripts -->
			<script src="javascripts/jquery.min.js"></script>
			<script src="javascripts/jquery.scrollex.min.js"></script>
			<script src="javascripts/jquery.scrolly.min.js"></script>
			<script src="javascripts/browser.min.js"></script>
			<script src="javascripts/breakpoints.min.js"></script>
			<script src="javascripts/util.js"></script>
			<script src="javascripts/main.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
			<script src="javascripts/stockr.js"></script>

	</body>
</html>