<!DOCTYPE HTML>

<html>
	<head>
		<title>Stockr</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="stylesheets/main.css" />
		<noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<%- include('../partials/header') %>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a id = "btn_google" class="active" >Google</a></li>
							<li><a id = "btn_twitter">Twitter</a></li>
							<li><a id = "btn_uber">Uber</a></li>
							<li><a id = "btn_snap">Snap</a></li>
							<li><a id = "btn_pinterest">Pinterest</a></li>
							<li><a id = "btn_microsoft">Microsoft</a></li>
							<li><a id = "btn_capitalone">Capital One</a></li>
							<li><a id = "btn_wallmart">Wallmart</a></li>
							<li><a id = "btn_toyota">Toyota</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
							<section id="google" class="main currently_shown">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Google</h2>
										</header>
										<div>
											<canvas id="google_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
										
									</div>
								</div>
							</section>

							<section id="twitter" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Twitter</h2>
										</header>
										<div>
											<canvas id="twitter_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="uber" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Uber</h2>
										</header>
										<div>
											<canvas id="uber_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="snap" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Snap</h2>
										</header>
										<div>
											<canvas id="snap_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="pinterest" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Pinterest</h2>
										</header>
										<div>
											<canvas id="pinterest_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="microsoft" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Microsoft</h2>
										</header>
										<div>
											<canvas id="microsoft_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="capitalone" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Capital One</h2>
										</header>
										<div>
											<canvas id="capitalone_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="wallmart" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Wallmart</h2>
										</header>
										<div>
											<canvas id="wallmart_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="toyota" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Toyota</h2>
										</header>
										<div>
											<canvas id="toyota_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>
					</div>

	

				<!-- Footer -->
				<%- include('../partials/footer') %>

			</div>

			<script>
				var data = '<%- JSON.stringify(data) %>'         
			 </script>

		<!-- Scripts -->
			<script src="javascripts/jquery.min.js"></script>
			<script src="javascripts/jquery.scrollex.min.js"></script>
			<script src="javascripts/jquery.scrolly.min.js"></script>
			<script src="javascripts/browser.min.js"></script>
			<script src="javascripts/breakpoints.min.js"></script>
			<script src="javascripts/util.js"></script>
			<script src="javascripts/main.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
			<script src="javascripts/stockr.js"></script>

	</body>
</html>